<div class="bg-tierra-madre border-2 border-sombra-selva p-6 md:p-8 shadow-[8px_8px_0_#0c0c0c] text-center">
  <script type="module" src="https://donorbox.org/widgets.js" async></script>
  <dbox-widget campaign="culture-center" type="donation_form" enable-auto-scroll="true"></dbox-widget>
</div>
