<div class="text-black text-center py-20">
  <script type="module" src="https://donorbox.org/widgets.js" async></script>
  <dbox-widget campaign="culture-center" type="donation_form" enable-auto-scroll="true"></dbox-widget>
</div>
